# .gitignore

# dependencies
/node_modules

# .env files (environment variables)
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.log
*.csv
*.dat
*.out
*.gz

# Dist directory
dist

# Temporary files
*.tmp
*.dump
.serverless

# IDE files
.idea
*.iml
.vscode
